

/** Estitlizaçao Principal**/

nav.mobile {
    display: none;
}


img {
width: 100%;
}

header{
    background-color: #3d437a;
    padding: 20px 0;
}

header .Logo a{
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    padding: 0 30px;
    font-weight: 300;
}

nav.desktop a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

nav.desktop a:hover{
text-decoration: underline;
}

.background-principal{
    width: 100%;
    height: 600px;
    position: relative;
    
}

.banner-sigle{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.over{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(51, 51, 51, 0.7);
z-index: 1;

}


.background-principal form{
    width: 98%;
    max-width: 500px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}

.background-principal form h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.background-principal form input[type=email]{
    margin-top: 15px;
    width: 100%;
    height: 66px;
    background: #fff;
    color: #333;
    padding-left: 10px;
}



.background-principal form input[type=submit]{
    margin-top: 15px;
    width: 100%;
    height: 66px;
    background: #00c59e;
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
}

.background-principal form input[type=submit]:hover{
    background-color: #181b3e;
    cursor: pointer;

}
.flip-menu{
    position: absolute;
    z-index: 4;
    bottom: 10px;
    margin: 0 36%;
   
}

.flip-menu span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  #222;
    margin: 0 10px;
    cursor: pointer;
}

.flip-menu span.active-slide{
    background-color: #ccc;
}

.descricao-autor{
    width: 100%;
    margin: 50px 0;   
 
}

.descricao-autor h2{
    color: #333;
    font-size: 25px;
    font-weight: 400;
}

.descricao-autor p{
    color: #333;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    text-align: justify;
    margin-right: 20px;
}

.descricao-autor img{
    margin-top: 40px;
}


.especialidades {
    width: 100%;
    background-color: #ccc;
    padding: 40px 0; 
   
}

.box-especialidade{
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;    
    padding: 40px;   
    
}

.invisible {
    height: 500px;
    margin-top: 50px;
    padding: 40px;   
    display: inline-block;
}

.titulo{
    color: #333;
    font-size: 25px;
    font-weight: 400;
  text-align: center;
   
}


.box-especialidade i{
    font-size: 55px;
    color: #3d437a;
    margin: 20px 0;
    text-align: center;
}


.box-especialidade p{
    font-size: 16px;
    color: #333;
    font-weight: 300;
    text-align: justify;
}


.extras {
    width: 100%;
    padding: 40px 0;
    background-color: #3d437a;
}

.extras .titulo{
color: #ccc;
margin-bottom: 30px;
font-size: 30px;
}

.extras .depoimento-sigle, .servicos li{
    margin: 20px;
}

.depoimento-sigle{
    border-bottom: 1px solid #ccc ;
}

.depoimento-sigle p, .servicos li{
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
    text-align: justify;
 
   
}

.servicos li { 
    margin: 20px;
    list-style-position: inside;
    color: #ccc;
}


.depoimento-sigle p:last-child{
    font-weight: bold;
}


footer{
    background-color: #181b3e;
    text-align: center;
    width: 100%;
    border: 1px solid #181b3e;
}

footer p{
    font-size: 20px;
    color: #ccc;
    padding: 20px;
    font-weight: 400;
}


footer.fixed{
    position:fixed;
    bottom: 0;
    width: 100%;
    }

