
.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "width" 100;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    }

/** Boot CSS**/

.center{
    max-width: 1280px;
    padding: 0 1%;
    margin : 0 auto
}

.w33 { width: 33.33%}
.w50 { width: 50%; padding: 0 2%;}
.clear { clear: both}
.left { float: left }
.rigth {float: right;}

/** Estitlizaçao**/

nav.mobile {
    display: none;
}



img {
width: 100%;
}

header{
    background-color: #3d437a;
    padding: 20px 0;
}

header .Logo a{
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    padding: 0 30px;
    font-weight: 300;
}

nav.desktop a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

nav.desktop a:hover{
text-decoration: underline;
}

.background-principal{
    width: 100%;
    height: 600px;
    position: relative;
    
}

.banner-sigle{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.over{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(51, 51, 51, 0.7);
z-index: 1;

}


.background-principal form{
    width: 98%;
    max-width: 500px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}

.background-principal form h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.background-principal form input[type=email]{
    margin-top: 15px;
    width: 100%;
    height: 66px;
    background: #fff;
    color: #333;
    padding-left: 10px;
}



.background-principal form input[type=submit]{
    margin-top: 15px;
    width: 100%;
    height: 66px;
    background: #00c59e;
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
}

.background-principal form input[type=submit]:hover{
    background-color: #181b3e;
    cursor: pointer;

}
.flip-menu{
    position: absolute;
    z-index: 4;
    bottom: 10px;
    margin: 0 36%;
   
}

.flip-menu span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  #222;
    margin: 0 10px;
    cursor: pointer;
}

.flip-menu span.active-slide{
    background-color: #ccc;
}

.descricao-autor{
    width: 100%;
    margin: 50px 0;   
 
}

.descricao-autor h2{
    color: #333;
    font-size: 25px;
    font-weight: 400;
}

.descricao-autor p{
    color: #333;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    text-align: justify;
    margin-right: 20px;
}

.descricao-autor img{
    margin-top: 40px;
}


.especialidades {
    width: 100%;
    background-color: #ccc;
    padding: 40px 0; 
   
}

.box-especialidade{
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;    
    padding: 40px;   
    
}

.invisible {
    height: 500px;
    margin-top: 50px;
    padding: 40px;   
    display: inline-block;
}

.titulo{
    color: #333;
    font-size: 25px;
    font-weight: 400;
  text-align: center;
   
}


.box-especialidade i{
    font-size: 55px;
    color: #3d437a;
    margin: 20px 0;
    text-align: center;
}


.box-especialidade p{
    font-size: 16px;
    color: #333;
    font-weight: 300;
    text-align: justify;
}


.extras {
    width: 100%;
    padding: 40px 0;
    background-color: #3d437a;
}

.extras .titulo{
color: #ccc;
margin-bottom: 30px;
font-size: 30px;
}

.extras .depoimento-sigle, .servicos li{
    margin: 20px;
}

.depoimento-sigle{
    border-bottom: 1px solid #ccc ;
}

.depoimento-sigle p, .servicos li{
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
    text-align: justify;
 
   
}

.servicos li { 
    margin: 20px;
    list-style-position: inside;
    color: #ccc;
}


.depoimento-sigle p:last-child{
    font-weight: bold;
}


footer{
    background-color: #181b3e;
    text-align: center;
    width: 100%;
    border: 1px solid #181b3e;
}

footer p{
    font-size: 20px;
    color: #ccc;
    padding: 20px;
    font-weight: 400;
}


footer.fixed{
    position:fixed;
    bottom: 0;
    width: 100%;
    }


@media screen and (max-width: 880px) {
    img {
        float: none;
        display: block;
        margin:0 auto;
        max-width: 500px;
    }

    .w50{
        
        padding: 20px;
        width: 100%;
      
    }
}





@media screen and (max-width: 700px){

    nav.mobile{
        display: block;
    }

    nav.mobile ul{
        display: none;
    }

    nav.desktop{
        display: none;
    }

    nav.mobile ul {
        top: 55px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        background: #fff;      
       
        text-align: center;
       
    }

    nav.mobile li {
        width: 100%;
        display: block;
        background: #fff;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
        
    }

    nav.mobile a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        color: #333;
    }

    .botao-mobile{
        font-size: 24px;
        cursor: pointer;
        color: #fff;
        display: block;
    }

}

    @media screen and (max-width:1000px){
       .box-especialidade{
        width: 100%;
        margin-top: 10px;
        padding: 0 100px;
        float: none;
        text-align: center;
       }

       .especialidades h2{
        margin-bottom: 40px;
       }


    }


/*css pagia 404*/

section .pagina-404{
    width: 100%;
  
}
section .center-404{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

section .wapper{
    width: 100%;
    text-align: center;
    border-top: 2px solid #333;
    margin-top: 40px;
}
    
.wapper h2, p{
    font-size: 20px;
    color: #333;    
    font-weight: 400;
    margin-top: 40px;
}

.wapper i{
    color: red;
    font-size: 30px;
    margin-left: 20px;
}


/*css do mapa*/
#map{
    width: 100%;
    height: 400px;
    border-bottom:2px solid #333;

}

.contato-container{
    width: 100%;
    text-align: center;
}
.contato-container .center{
    display: inline-block;
}

.contato-container input,  textarea{
    width: 50%;
    height: 40px;
    padding-left: 8px;
    font-size: 16px;
    color: #444;
    border: 1px solid #333;
    margin: 10px 0;
    
}

.contato-container textarea{
    height: 80px;
    resize: vertical;
}

.contato-container input[type=submit]{
    background-color: #3d437a;
    color: #ccc;
    font-size: 20px;
    width: 30%;
}

.contato-container input[type=submit]:hover{
    background-color: #181b3e;
}